@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body {
  font-family: "Prompt";
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #1c1d22;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 0 0 auto;
  height: 10vh;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
.menu li a {
  font-size: 22px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.45s;
}
.menu li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
}
.menu li:hover a {
  color: #d94f5c;
}
.menu li:not(:last-child) {
  margin-right: 30px;
}

.logo {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 0 0 30px;
  height: 7vh;
  list-style: none;
  font-weight: 700;
}

.logo:hover {
  color: rgb(151, 151, 151);
}

.carouselSlide {
  display: flex;
  justify-content: center;
}

.carouselNav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  top: 10vh;
  height: 80vh;
  width: 100vw;
}

.carouselPost {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
  z-index: 1;
}

.slideSelector {
  height: 13px;
  width: 13px;
  background: #000;
  border-radius: 50%;
  bottom: 0;
  margin: 10px;
}

.slideSelector.active {
  background: #fff;
}

.slideMenu {
  padding-top: 70vh;
}

.prevnext {
  opacity: 0;
  width: 40%;
}

.content {
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);
}
.content p {
  margin: 0 0 20px;
  text-align: center;
  color: #fff;
  font-size: large;
}

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover polygon {
  fill: #FFF;
  transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}

polygon {
  fill: #FFF;
  transition: all 0.2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}

.next {
  background-color: #1c1d22;
  height: 99vh;
}

.titre1 {
  color: rgb(179, 179, 179);
  text-align: center;
  padding: 200px 0 0 0;
  font-size: 50px;
}

.desc {
  text-align: center;
  margin: 30px 200px;
  color: white;
  line-height: 1.6;
}

.servImg, .servContent {
  width: 30%;
}

.servContainer {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */