@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body {
  font-family: "Prompt";
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #d8e1f1;
}

nav {
  height: auto;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 50;
  transition: all 0.4s ease;
}
nav ul li a {
  color: #455879;
}
nav.onScroll {
  background-color: rgba(69, 88, 121, 0.7);
}
nav.onScroll ul li a {
  color: #fff;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto 0 auto;
  height: 15vh;
  list-style: none;
}

.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 40px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  transition: all 0.45s;
}
.menu li a {
  font-size: 22px;
  text-decoration: none;
  transition: all 0.45s;
}
.menu li a:active {
  color: #000;
}
.menu li:hover {
  background: radial-gradient(rgba(223, 211, 172, 0.2) 40%, transparent, transparent);
}
.menu li:hover a {
  color: #d3ad5c;
}
.menu li:not(:last-child) {
  margin-right: 30px;
}

.logo {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 0 0 30px;
  height: 7vh;
  list-style: none;
  font-weight: 700;
}

.logo:hover {
  color: rgb(151, 151, 151);
}

.carouselSlide {
  display: flex;
  justify-content: center;
}

.carouselNav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  top: 10vh;
  height: 80vh;
  width: 100vw;
}

.carouselPost {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
  z-index: 1;
}

.slideSelector {
  height: 13px;
  width: 13px;
  background: #000;
  border-radius: 50%;
  bottom: 0;
  margin: 10px;
}

.slideSelector.active {
  background: #fff;
}

.slideMenu {
  padding-top: 70vh;
}

.prevnext {
  opacity: 0;
  width: 40%;
}

.arrow {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);
}
.arrow p {
  margin: 0 0 20px;
  text-align: center;
  color: #455879;
  font-size: large;
}

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover polygon {
  fill: #7d9ac9;
  transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}

polygon {
  fill: #455879;
  transition: all 0.2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}

.next {
  height: 100vh;
}

.titre1, .titreServices, .titre2 {
  color: #455879;
  text-align: center;
  padding: 200px 0 0 0;
  font-size: 50px;
}

.titre2 {
  padding: 50px 0 10px 0;
}

.titreServices {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.text, .contactInfo, .desc, .carouselText {
  margin: 30px;
  color: #455879;
  line-height: 1.6;
}

.desc, .carouselText {
  z-index: 2;
  text-align: center;
  margin: 30px 25%;
  font-size: 20px;
  font-weight: 500;
}

.servImg,
.servContent {
  width: 30%;
  height: 30%;
  padding: 2%;
}

.servContainer {
  display: flex;
  justify-content: center;
}

.index {
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gtitre {
  z-index: 2;
  color: #455879;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}

.servImg {
  width: 20%;
  height: 20%;
}

.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  margin: 50px 0;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-15 {
  background: #000;
  color: #fff;
  z-index: 1;
}

.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #e0e5ec;
  transition: all 0.3s ease;
}

.btn-15:hover {
  color: #000;
}

.btn-15:hover:after {
  left: 0;
  width: 100%;
}

.btn-15:active {
  top: 2px;
}

.btncon {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .person .personDesc {
  position: absolute;
  opacity: 0;
  transform: translateY(-220px) translateX(120px);
  transition: all 0.3s ease;
}
.team .person .personDesc .personName {
  color: #d8e1f1;
  font-size: 20px;
  font-weight: 550;
}
.team .person .personDesc .personFct {
  color: #d8e1f1;
  font-weight: 450;
}
.team .person .personPic {
  width: 300px;
  height: 300px;
  transition: all 0.3s ease;
  margin: 50px;
}
.team .person:hover .personPic {
  width: 350px;
  height: 350px;
  filter: brightness(50%);
}
.team .person:hover .personDesc {
  opacity: 1;
  transform: translateY(-250px) translateX(120px);
}

.carouselText {
  position: absolute;
  top: 50%;
  margin: 0 20%;
  z-index: 4;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
}

.contactSubContainer {
  display: flex;
  align-items: center;
  margin: 0 0 50px 0;
  width: 600px;
  border: 2px solid rgb(183, 183, 183);
  border-radius: 20px;
}

.contactIcon {
  margin: 0 25px;
}

.contactInfo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */