$primaryL: #6986b8;
$primaryM: #314363;
$primaryD: #18253c;

body {
  font-family: "poppins";
}

Carousel {
  position: relative;
}

.logo{
  width: 90px;
  height: 90px;
  svg{
    width: 80px;
    height: 80px;
    margin: 20px;
  }
}


.slideSelector {
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
}
.slideSelector.active {
  background: #fff;
}

.pageSelect{
  margin-right: 100px;
}

.navMenu {
  position: sticky;
  margin: 10px 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: $primaryD;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    width: 100px;
    margin: 0 10px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    color: $primaryL;
  }
  .dot {
    width: 6px;
    height: 6px;
    background: $primaryL;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(305px);
    transform: translateX(305px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(430px);
    transform: translateX(430px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
}
